{% extends "main.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
<script src="https://kit.fontawesome.com/bc3a1796c2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />

<footer>
    <div class="footer__row__1">
      {% comment %} <h4 class="big-text-center">CONTACT US</h4> {% endcomment %}
      <div id="social-icons">
        <a href="" target="_blank" id="ytb">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://github.com/boiko88" target="_blank" id="ytb">
          <i class="fab fa-github"></i>
        </a>
        <a href="" target="_blank" id="ytb">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" target="_blank" id="ytb">
          <i class="fab fa-telegram"></i>
        </a>
        <a href="" target="_blank" id="ytb">
          <i class="fab fa-google"></i>
        </a>
      </div>
    </div>
</footer>

{% endblock content %}
