{% extends 'main.html' %}

{% block content %}
<div class="main">
  
    <form class="text" method="post">
      <h1 class="big-text">UPDATE ANIME</h1>
      {% csrf_token %}
      <label class="label">{{ form.eng_name.label }}:</label>
      <h3 class="form-input">{{ form.eng_name }}</h3>
      
      <label class="label">{{ form.director_name.label }}:</label>
      <h3 class="form-input">{{ form.director_name }}</h3>
      
      <label class="label">{{ form.release_year.label }}:</label>
      <h3 class="form-input">{{ form.release_year }}</h3>
      
      <label class="label">{{ form.episodes_number.label }}:</label>
      <h3 class="form-input">{{ form.episodes_number }}</h3>
      
      <label class="label">{{ form.is_based_on_manga.label }}:</label>
      <h3 class="form-input">{{ form.is_based_on_manga }}</h3>
      
      <div class="button-container">
        <button class="buttons-red" type="submit">Update</button>
        <button onclick="location.href='{% url 'home' %}'" class='buttons-red'>Back</button></td>
      </div>
    </form>
  </div>
</div>

{% include 'footer.html' %}

{% endblock %}
